@use "sass:color";
@import "../../../variables.scss";

@keyframes rotation {
    0% {
        transform: rotate(180deg);
        opacity: 1;
        border-color: $primary;
        border-bottom-color: transparent;

        border-width: 1px;
        scale: 0;
    }

    50% {
        scale: 0.55;
        opacity: 1.5;
        transform: rotate(-180deg);

    }

    100% {
        transform: rotate(180deg);
        opacity: 1;
        border-color: color.adjust($primary, $lightness: 140%);
        border-bottom-color: $primary;
        opacity: 0;
        border-width: 4px;
        scale: 1;
    }
}

.loader {
    display: flex;
    flex-direction: column;
    gap: $spacing-base * 4;
    font-weight: 600;
    @include font-family-head;

    &.fill-container {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &::before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: $sizing-base * 6;
        aspect-ratio: 1/1;
        border-style: solid;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s ease-in-out infinite;
        animation-delay: -0.1s;
        border-bottom-color: transparent;
    }
}