@import "../../../../variables.scss";

.overlay {
    background-color: $bg-overlay-initial;
    position: fixed; // Positionné par rapport à la fenêtre
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: +1;

    &.hidden {
        visibility: hidden;
    }

    dialog {
        background-color: $bg-dialog-initial;
        color: $fg-dialog-initial;
        border-radius: $radius-base * 2;
        position: fixed;
        top: 50vh;
        right: 50vh;
        display: flex;
        flex-direction: column;
        align-items: end;
        transform: translate(50%, -50%);
        z-index: 3;
        gap: $spacing-base * 4;

        .content {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: $spacing-base * 4;
        }
    }
}