@import "../../../variables.scss";

button {
  cursor: pointer;
  background-color: $bg-action-initial;
  color: $fg-action-initial;
  min-height: 40px;
  padding: $padding-base $padding-base*2;
  border-radius: $radius-base;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: $spacing-base*4;
  position: relative;
  justify-content: center;

  &:hover {
    background-color: $bg-action-hover;
  }

  &:disabled {
    background-color: lighten($bg-action-hover, 24);
  }

  &.icon {
    background-color: unset;
    color: $fg-default-initial;
    padding: unset;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;



    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    .icon {
      user-select: none;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  &.menu {
    position: relative;

    ul {
      z-index: 1;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: $bg-action-initial;
      border-radius: $radius-base;
      margin: 0;
      width: 100%;
      padding: 0;
      left: 0;
      top: 0;
    }

    &::after {
      content: "";
      transition: all 0.2s ease-in-out;
      display: inline-block;
      height: 0;
      width: 0;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 8px solid $fg-action-initial;
    }
  }
}

.menu {
  position: relative;
  overflow: visible;

  &::after {
    content: unset;
  }

  ul {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $bg-elevated-initial;
    width: fit-content;
    border-radius: $radius-base;
    margin: 0;
    padding: 0;
    left: 100%;
    top: 0;
    transform: translateX(-100%);
    overflow: hidden;
    align-items: end;
    @include elevated-shadow;

    .header {
      margin-bottom: $spacing-base;
    }

    .inner {
      background-color: $bg-elevated-initial;
      color: $fg-elevated-initial;
      display: flex;
      min-width: 100%;
      max-width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      gap: $spacing-base*2;
      width: fit-content;
      border-radius: unset;
      min-height: 40px;
      padding: $padding-base $padding-base*2;

      &:hover {
        background-color: $bg-elevated-hover;
      }
    }
  }
}