@import "../../../variables.scss";



@keyframes onOpen {
  0% {
    height: unset;
  }

  100% {
    height: fit-content;
  }
}

nav {
  display: flex;
  flex-direction: column;
  background-color: $bg-elevated-initial;
  color: $fg-elevated-initial;
  overflow-y: auto;
  transition: --scrollwidth 0.1s;
  font-size: 14px;
  @include font-family-head;
  width: fit-content;
  transition: all 1s ease-out;
  max-width: 20%;
  user-select: none;
  animation: all 1s ease-in-out;
  @include scrollbar;
  @include elevated-shadow;




  ul {
    display: flex;
    flex-direction: column;
    gap: calc($spacing-base / 2);
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    transition: all 0.2s ease-in-out;
  }

  .nested {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: height 1s ease-in-out;
    max-height: 0;
    opacity: 0;

    &.open {
      max-height: 100%;
      opacity: 1;
    }

    &::before {
      content: "";
      display: block;
      position: relative;
      border-right: rgba($color: #000000, $alpha: 0.16) 1px solid;
      height: 100%;
      width: $sizing-base*4;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      flex-grow: 1;
    }
  }
}