@import "./index.scss";

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    header {
        cursor: pointer;
        min-height: $clickzone-min-size;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: $spacing-base*4;
        padding: $padding-base;
        transition: all 0.2s ease-in-out;

        .loader {
            margin-left: auto;
        }

        .actions {
            display: flex;
            margin-left: auto;
            align-items: center;
            gap: $spacing-base;
        }

        &:hover {
            background-color: $bg-elevated-hover;
        }
    }

    .documents {
        gap: 0;
    }
}